<%@ Master Language="C#" CodeBehind="Site1.master.cs" EnableViewState="false" Inherits="IEF_Home.privacy.Site1" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <%-- ReSharper disable once EmptyTitleTag --%>
    <title>Industrial Ecology Research Portal | University of Freiburg</title>
    <meta name="description" content="Industrial Ecology Freiburg (IEF) – Research on sustainable energy, material flow management, circular economy, and environmental impacts.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="vzW3tD9liOFdKI_FEjWdZbsqoWH7naL_NtL3HLLA6K4" />
    <link rel="preload" href="/css/bootstrap.css" as="style">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="icon" type="image/png" href="/resources/IEF_LogoV_23_3-Tab7.png">
    <link rel="preconnect" href="https://ajax.aspnetcdn.com" crossorigin="">
    <link rel="dns-prefetch" href="//ajax.aspnetcdn.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <asp:ContentPlaceHolder ID="ContentPlaceHolderHead" runat="server">
        <script src="js/jquery-3.6.0.min.js" defer></script>

    </asp:ContentPlaceHolder>
    <style>
        /* master.css start*/
        body {
            font-size: 13px;
            background-color: #f2f2f2;
            width: 100%;
            max-width: 1500px;
            margin: 0 auto;
        }


        /* Remove the navbar's default rounded borders AND increase the bottom margin */
        .navbar {
            border-radius: 0;
            background-color: #215daa;
            border: none;
            color: #215daa;
            min-height: inherit;
        }



        

        /* Add a gray background color AND some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 15px;
        }



            .logo img {
                display: inline-block;
                padding-right: 0;
                background: white;
            }

        .col-md-9 {
            padding-right: 10%;
            text-align: justify;
        }

        .caption {
            text-align: center;
        }

        .col-md-3 {
            background-color: #CCDFF5;
        }

        footer a {
            text-align: left;
            padding-left: 15px;
            margin-top: 5px;
        }

        .container {
            text-align: justify;
            text-justify: inter-word;
            padding-left: 0px;
            margin-right: 10%;
            margin-left: 0px;
        }

        .navbar-custom {
            background: #34499a;
            color: #ffffff;
            border-radius: 0;
        }

            .navbar-custom .navbar-nav > li > a {
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                display: inline-block;
                padding: 10px 12px

            }

            .navbar-custom .navbar-nav > .active > a {
                color: #ffffff;
                background-color: #E3AF39;
            }

                .navbar-custom .navbar-nav > li > a:hover,
                .navbar-custom .navbar-nav > li > a:focus,
                .navbar-custom .navbar-nav > .active > a:hover,
                .navbar-custom .navbar-nav > .active > a:focus,
                .navbar-custom .navbar-nav > .open > a {
                    text-decoration: none;
                    background-color: #E3AF39;
                    color: #ffffff;
                }

            .navbar-custom .navbar-brAND {
                color: #eeeeee;
            }

            .navbar-custom .navbar-toggle {
                background-color: #eeeeee;
            }

            .navbar-custom .icon-bar {
                background-color: #33aa33;
            }

        main {
            background-color: #ffffff;
            padding: 15px;
        }



        footer {
            background: #34499a;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            font: 14px sans-serif;
            margin-top: 30px;
            text-align: left;
            width: 100%;
        }

            footer a {
                display: inline-block;
                line-height: 1.8;
                text-decoration: none;
                color: #ffffff;
            }

            footer div {
                display: block;
                text-align: center;
            }

            /* The company logo */

            footer h3 {
                font: normal 16px 'Cookie', cursive;
                margin: 0;
                color: #ffffff;
            }

                footer h3 span {
                    color: #E3AF39
                }

        label.lbl-toggle, input#collapsible {
            display: none;
        }

        thead td {
            font-weight: bold;
        }

        table td {
            padding: 5px;
        }

        .table-container {
            max-width: 100%;
            overflow: auto;
        }

        header div div div {
            /*display: flex;*/
        }

        .lang-changer {
            text-align: right;
        }

            .lang-changer img {
                cursor: pointer;
            }

        .centered {
            text-align: center;
        }

        .login-warning {
            color: red;
            font-weight: bolder;
        }

        /**
    Media queries for responsive design
*/
        @media screen AND (max-width: 768px) {
            label.lbl-toggle {
                line-height: 20px;
                padding: 10px 0;
                margin: 0;
                display: inline-block;
            }

            #collapsible:checked + div {
                display: block;
            }

            footer {
                margin-top: 0;
            }
        }

        @media screen AND (max-width: 1000px) {
            body {
                margin: 0;
            }

            .navbar {
                margin-bottom: 0;
            }

            header div div:nth-child(3) {
                /*display: none;*/
            }
        }
        /* master.css end*/


        /* Mobile layout */
        @media (max-width: 768px) {
            .header-inner {
                flex-direction: column;
                text-align: center;
            }

            .header-title {
                order: 2;
            }
        }
    </style>
</head>

<body class="site-main">
    <form id="form1" runat="server" style="background:white">
        <asp:ScriptManager
            ID="ScriptManager"
            runat="server"
            EnableCdn="true"
            ScriptMode="Release"
            LoadScriptsBeforeUI="false" />
        <header>
            <div class="jumbotron" style="background: #34499a; padding: 0; margin-bottom: 0; border-radius: 0;">
                <div class="container-fluid" style="display: flex; align-items: stretch; min-height: clamp(80px, 12vw, 160px); padding: 0;">

                    <!-- IEF Logo panel -->
                    <div style="background: #34499a; display: flex; align-items: center; justify-content: center; padding: clamp(12px, 2vw, 28px) clamp(20px, 3.5vw, 48px); min-width: clamp(160px, 20vw, 260px); flex-shrink: 0;">
                        <img src="resources/IEF_Logo.png"
                            style="height: clamp(54px, 7.2vw, 99px); width: auto; display: block;">
                    </div>

                    <!-- Title text -->
                    <div style="flex: 1; display: flex; align-items: center; justify-content: center; padding: clamp(12px, 2vw, 36px); min-width: 0;">
                        <div style="text-align: center;">
                            <p style="margin: 0 0 4px 0; font-size: clamp(16px, 2.2vw, 38px); font-weight: 600; color: #ffffff; line-height: 1.3;">
                                Freiburg Open Science Portal
                            </p>
                            <p style="margin: 0 0 4px 0; font-size: clamp(16px, 2.2vw, 38px); font-weight: 600; color: #ffffff; line-height: 1.3;">
                                for Industrial Ecology and Socio-Metabolic Research
                            </p>
                        </div>
                    </div>

                    <!-- Uni Freiburg logo panel -->
                    <div style="background: #34499a; display: flex; align-items: center; justify-content: center; padding: clamp(12px, 2vw, 32px) clamp(20px, 3.5vw, 48px); min-width: clamp(160px, 20vw, 260px); flex-shrink: 0;">
                        <div style="background: #ffffff; padding: 8px 16px;">
                            <img src="resources/uniFreiburg.png"
                                style="height: clamp(40px, 4.95vw, 73px); width: auto; display: block;">
                        </div>
                    </div>

                </div>
            </div>
            <nav class="navbar navbar-default navbar-custom navbar">
                <div class="container-fluid">
                    <label for="collapsible" class="lbl-toggle">&equiv;</label>
                    <input id="collapsible" class="toggle" type="checkbox">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li id="liHome" runat="server"><a href="/main.aspx">Home</a></li>
                            <li id="liBlog" runat="server"><a href="https://www.blog.industrialecology.uni-freiburg.de" target="_blank">Blog</a></li>
                            <li id="liDatabase" runat="server"><a href="https://www.database.industrialecology.uni-freiburg.de">IEDC Database</a></li>
                            <li id="liModels" runat="server"><a href="/odym-recc">Our Models</a></li>
                            <li id="liTeaching" runat="server"><a href="/teaching">TEACHING: IEooc</a></li>
                            <li id="liCircomod" runat="server"><a href="/circomod">CIRCULAR ECONOMY PROFILES</a></li>
                            <li id="liSankey" runat="server"><a href="https://www.visualisation.industrialecology.uni-freiburg.de">CIRCULAR SANKEY APP</a></li>
                            <li id="liPapers" runat="server"><a href="/iefWorkingPaper">IEF Working Papers</a></li>
                            <li id="liInternal" runat="server"><a href="/internal">Internal</a></li>


                            <asp:ContentPlaceHolder ID="ContentPlaceHolderMenu" runat="server" EnableViewState="false"></asp:ContentPlaceHolder>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>
        <main>

            <asp:ContentPlaceHolder ID="ContentPlaceHolderMain" runat="server">
            </asp:ContentPlaceHolder>
        </main>
        <footer>
            <div>
                <a href="/">HOME</a>
                <a href="https://www.blog.industrialecology.uni-freiburg.de">BLOG</a>
                <!--<a href="research/research">Research</a> &#9679; -->
                <a href="https://www.database.industrialecology.uni-freiburg.de">IEDC DATABASE</a>
                <a href="odym-recc">OUR MODELS</a>
                <a href="teaching">TEACHING: IEOOC</a>
                <a href="circomod">CIRCILAR ECONOMY PROFILES</a><br />
                <a href="https://www.visualisation.industrialecology.uni-freiburg.de">CIRCULAR SANKEY APP</a>
                <a href="iefWorkingPaper">IEF WORKING PAPERS</a>
                <a href="internal">INTERNAL</a>
                <a href="legal">Legal Notes & Privacy</a>

            </div>
            <div style="padding-top: 5px">
                <h3>Industrial Ecology <span>Freiburg 2026</span></h3>
            </div>
        </footer>
    </form>
</body>
</html>
