<%@ Master Language="C#" CodeBehind="Site1.master.cs"  EnableViewState="false" Inherits="IEF_Home.privacy.Site1" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <%-- ReSharper disable once EmptyTitleTag --%>
    <title>Industrial Ecology Freiburg – Sustainable Energy & Material Flow Research</title>
    <meta name="description" content="Industrial Ecology Freiburg (IEF) – Research on sustainable energy, material flow management, circular economy, and environmental impacts.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="vzW3tD9liOFdKI_FEjWdZbsqoWH7naL_NtL3HLLA6K4" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/master.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/resources/IEF_LogoV_23_3-Tab7.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <asp:ContentPlaceHolder ID="ContentPlaceHolderHead" runat="server" >
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="form1" runat="server" >
        <asp:ScriptManager ID="ScriptManager" runat="server" EnableCdn="true" EnablePartialRendering="true" />
        <header>
            <div class="jumbotron">
                <div class="container-fluid">

                    <div class="col-md-2">
                        <img src="/resources/IEF_LogoV_23_3.png" style="padding-left: 0;" width="241" height="111" alt="IEF logo">
                    </div>

                    <div class="col-md-8" style="padding-left: 30px; height: 0px;">
                        <h2>Freiburg Open Science Portal for Industrial Ecology and Socio-Metabolic Research</h2>
                        <p style="font-size: 16px;"> </p>
                    </div>

                    <div class="logo" >
                        <img src="/resources/uniFreiburg.png"  width="300" alt="Uni Freiburg logo">
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-default navbar-custom navbar">
                <div class="container-fluid">
                    <label for="collapsible" class="lbl-toggle">&equiv;</label>
                    <input id="collapsible" class="toggle" type="checkbox">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="https://www.blog.industrialecology.uni-freiburg.de" target="_blank">Blog</a></li>
                            <li><a href="https://www.database.industrialecology.uni-freiburg.de" target="_blank">IEDC Database</a></li>
                            <li><a href="/odym-recc">Our Models</a></li>
                            <li><a href="/teaching">TEACHING: IEooc</a></li>
                            <li><a href="/circomod">CIRCULAR ECONOMY PROFILES</a></li>
                            <li><a href="https://www.visualisation.industrialecology.uni-freiburg.de" target="_blank">CIRCULAR SANKEY APP</a></li>
                            <li><a href="/iefWorkingPaper">IEF Working Papers</a></li>       
                            <li><a href="/internal">Internal</a></li>
                            <li style="display:none"><a href="/circomodVisualization">circomodVisualization</a></li>
                            
                            
                            <asp:ContentPlaceHolder ID="ContentPlaceHolderMenu" runat="server" EnableViewState="false" ></asp:ContentPlaceHolder>
                        </ul>

                    </div>
                </div>
            </nav>
        </header>
        <main>
            
            <asp:ContentPlaceHolder ID="ContentPlaceHolderMain" runat="server" >
            </asp:ContentPlaceHolder>
        </main>
        <footer>
            <div>
                <a href="/">Home</a> 
                <a href="https://www.blog.industrialecology.uni-freiburg.de">Blog</a> 
            <!--<a href="research/research">Research</a> &#9679; -->
                <a href="https://www.database.industrialecology.uni-freiburg.de">iedc Database</a>
                <a href="/odym-recc">Our Models</a> 
                <a href="/teaching">TEACHING: IEooc</a>
                <a href="/circomod">Circular Economy</a><br/>
                <a href="https://www.visualisation.industrialecology.uni-freiburg.de">CIRCULAR SANKEY APP</a> 
                <li><a href="/iefWorkingPaper">IEF Working Papers</a></li>    
                <a href="/internal">Internal</a> 
                <a href="/legal">Legal Notes & Privacy</a>
                
            </div>
            <div>
                <h3>Industrial Ecology <span>Freiburg 2025</span></h3>
            </div>
        </footer>
    </form>
</body>
</html>
